.investor-main-form {
  ul.company-contacts li {
    margin-left: 0;
    width: 100%;
  }

  .ile-details-form {
  	.table {
  		margin-bottom: 20px;
  	}
  }
}

#legal-entities-tabs {
  li:first-child {
    border: none;
  }
}